* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.block {
  display: block;
}
.inline-block {
  max-width: 100%;
  display: inline-block;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
.busybus-form {
  margin: 0 0 15px;
}
.busybus-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.busybus-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.input,
.selected {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.input:-moz-placeholder,
.selected:-moz-placeholder {
  color: #999;
}
.input::-moz-placeholder,
.selected::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input:-ms-input-placeholder,
.selected:-ms-input-placeholder {
  color: #999;
}
.input::-webkit-input-placeholder,
.selected::-webkit-input-placeholder {
  color: #999;
}
.input:focus,
.selected:focus {
  border-color: #3898EC;
  outline: 0;
}
.input[disabled],
.selected[disabled],
.input[readonly],
.selected[readonly],
fieldset[disabled] .input,
fieldset[disabled] .selected {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.input,
textarea.selected {
  height: auto;
}

.busybus-form-label {
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  margin-bottom: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.container:after {
  clear: both;
}
.container .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.row:after {
  clear: both;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col .col {
  padding-left: 0;
  padding-right: 0;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.hidden-main {
  display: none !important;
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
  .hidden-main {
    display: inherit !important;
  }
  .hidden-medium {
    display: none !important;
  }
  .col-medium-1 {
    width: 8.33333333%;
  }
  .col-medium-2 {
    width: 16.66666667%;
  }
  .col-medium-3 {
    width: 25%;
  }
  .col-medium-4 {
    width: 33.33333333%;
  }
  .col-medium-5 {
    width: 41.66666667%;
  }
  .col-medium-6 {
    width: 50%;
  }
  .col-medium-7 {
    width: 58.33333333%;
  }
  .col-medium-8 {
    width: 66.66666667%;
  }
  .col-medium-9 {
    width: 75%;
  }
  .col-medium-10 {
    width: 83.33333333%;
  }
  .col-medium-11 {
    width: 91.66666667%;
  }
  .col-medium-12 {
    width: 100%;
  }
  .col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .hidden-main {
    display: inherit !important;
  }
  .hidden-medium {
    display: inherit !important;
  }
  .hidden-small {
    display: none !important;
  }
  .row,
  .container .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    width: 100%;
    left: auto;
    right: auto;
  }
  .col-small-1 {
    width: 8.33333333%;
  }
  .col-small-2 {
    width: 16.66666667%;
  }
  .col-small-3 {
    width: 25%;
  }
  .col-small-4 {
    width: 33.33333333%;
  }
  .col-small-5 {
    width: 41.66666667%;
  }
  .col-small-6 {
    width: 50%;
  }
  .col-small-7 {
    width: 58.33333333%;
  }
  .col-small-8 {
    width: 66.66666667%;
  }
  .col-small-9 {
    width: 75%;
  }
  .col-small-10 {
    width: 83.33333333%;
  }
  .col-small-11 {
    width: 91.66666667%;
  }
  .col-small-12 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
  .hidden-main {
    display: inherit !important;
  }
  .hidden-medium {
    display: inherit !important;
  }
  .hidden-small {
    display: inherit !important;
  }
  .hidden-tiny {
    display: none !important;
  }
  .col {
    width: 100%;
  }
  .col-tiny-1 {
    width: 8.33333333%;
  }
  .col-tiny-2 {
    width: 16.66666667%;
  }
  .col-tiny-3 {
    width: 25%;
  }
  .col-tiny-4 {
    width: 33.33333333%;
  }
  .col-tiny-5 {
    width: 41.66666667%;
  }
  .col-tiny-6 {
    width: 50%;
  }
  .col-tiny-7 {
    width: 58.33333333%;
  }
  .col-tiny-8 {
    width: 66.66666667%;
  }
  .col-tiny-9 {
    width: 75%;
  }
  .col-tiny-10 {
    width: 83.33333333%;
  }
  .col-tiny-11 {
    width: 91.66666667%;
  }
  .col-tiny-12 {
    width: 100%;
  }
}
